<template>
  <b-container class="pt-4">
    <b-row>
      <b-col lg="6" offset-lg="3">
        <h1>Add Card</h1>
        <b-form @submit.prevent="addCard">
          <b-form-group label="Title">
            <b-form-input
              v-model="title"
              :state="titleState"
              type="text"
              placeholder="Enter a card title"
            />
          </b-form-group>
          <b-form-group label="Description">
            <b-form-textarea
              v-model="description"
              :state="descriptionState"
              rows="5"
              type="text"
              placeholder="Enter a card description"
            />
          </b-form-group>
          <b-form-group label="Column">
            <b-form-select v-model="column" :options="options" />
          </b-form-group>
          <b-button block type="submit" variant="primary">Add</b-button>
          <b-button block variant="danger" @click="cancel">Cancel</b-button>
        </b-form>
      </b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import Vue from 'vue'

interface Data {
  title: string | null
  description: string | null
  column: number
}

export default Vue.extend({
  name: 'AddCard',
  data(): Data {
    return {
      title: null,
      description: null,
      column: 0,
    }
  },
  computed: {
    options(): { value: number; text: string }[] {
      return [
        { value: 0, text: 'First column' },
        { value: 1, text: 'Second column' },
        { value: 2, text: 'Third column' },
        { value: 3, text: 'Fourth column' },
      ]
    },
    titleState(): boolean | null {
      if (!this.title) return null
      return this.title.length > 1 ? true : false
    },
    descriptionState(): boolean | null {
      if (!this.description) return null
      return this.description.length > 10 ? true : false
    },
  },
  methods: {
    addCard(): void {
      const data = {
        id: Math.floor(Math.random() * 100),
        title: this.title,
        description: this.description,
      }
      if (this.title && this.description) {
        this.$accessor.card
          .addCard({
            data,
            column: this.column,
          })
          .then(() => this.$router.push({ name: 'Home' }))
      }
    },
    cancel(): void {
      this.$router.push({ name: 'Home' })
    },
  },
})
</script>
