<template>
  <b-container class="pt-4">
    <b-form-checkbox class="mb-3" v-model="drag"
      >Enable drag&drop</b-form-checkbox
    >
    <b-row cols="4">
      <b-col>
        <Draggable
          class="drag-group"
          v-model="firstColumn"
          group="cards"
          :disabled="!drag"
        >
          <Card
            class="mb-4"
            :title="card.title"
            :description="card.description | truncate(100)"
            v-for="card in firstColumn"
            :key="card.id"
          />
        </Draggable>
      </b-col>
      <b-col>
        <Draggable
          class="drag-group"
          v-model="secondColumn"
          group="cards"
          :disabled="!drag"
        >
          <Card
            class="mb-4"
            :title="card.title"
            :description="card.description | truncate(100)"
            v-for="card in secondColumn"
            :key="card.id"
          />
        </Draggable>
      </b-col>
      <b-col>
        <Draggable
          class="drag-group"
          v-model="thirdColumn"
          group="cards"
          :disabled="!drag"
        >
          <Card
            class="mb-4"
            :title="card.title"
            :description="card.description | truncate(100)"
            v-for="card in thirdColumn"
            :key="card.id"
          />
        </Draggable>
      </b-col>
      <b-col>
        <Draggable
          class="drag-group"
          v-model="fourthColumn"
          group="cards"
          :disabled="!drag"
        >
          <Card
            class="mb-4"
            :title="card.title"
            :description="card.description | truncate(100)"
            v-for="card in fourthColumn"
            :key="card.id"
          /> </Draggable
      ></b-col>
    </b-row>
  </b-container>
</template>

<script lang="ts">
import Vue from 'vue'
import Card from '@/components/Card.vue'
import { Card as iCard } from '@/interfaces/card'
// eslint-disable-next-line @typescript-eslint/ban-ts-ignore
// @ts-ignore
import Draggable from 'vuedraggable'

// Helpers
Vue.filter(
  'truncate',
  (text: string, length: number, skipEllipses?: boolean) => {
    if (text.length < length) return text
    else {
      let trimmed = text.slice(0, length)
      trimmed = trimmed.slice(
        0,
        Math.min(trimmed.length, trimmed.lastIndexOf(' '))
      )
      return skipEllipses ? trimmed : trimmed + '…'
    }
  }
)

interface Data {
  drag: boolean
}

export default Vue.extend({
  name: 'Home',
  components: {
    Card,
    Draggable,
  },
  data() {
    return {
      drag: true,
    }
  },
  computed: {
    firstColumn: {
      get(): iCard[] {
        return this.$accessor.card.column(0)
      },
      set(data: iCard[]) {
        this.$accessor.card.updateCards({ data, column: 0 })
      },
    },
    secondColumn: {
      get(): iCard[] {
        return this.$accessor.card.column(1)
      },
      set(data: iCard[]) {
        this.$accessor.card.updateCards({ data, column: 1 })
      },
    },
    thirdColumn: {
      get(): iCard[] {
        return this.$accessor.card.column(2)
      },
      set(data: iCard[]) {
        this.$accessor.card.updateCards({ data, column: 2 })
      },
    },
    fourthColumn: {
      get(): iCard[] {
        return this.$accessor.card.column(3)
      },
      set(data: iCard[]) {
        this.$accessor.card.updateCards({ data, column: 3 })
      },
    },
  },
})
</script>

<style lang="scss" scoped>
.card {
  height: 200px;
  overflow: hidden;
}
</style>
