<template>
  <b-card :title="title">
    <b-card-text>{{ description }}</b-card-text>
  </b-card>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
  name: 'Card',
  props: {
    title: {
      type: String as PropType<string>,
      required: true,
    },
    description: {
      type: String as PropType<string>,
      required: true,
    },
  },
})
</script>
